.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: #8F5C2C;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: rgb(64, 200, 121);
}
/* media queries are styles for desktop devices */
@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: block;
    width: auto;
    height: 100%;
    font-size: 1.3em
  }

  .NavigationItem a {
    color: white;
    text-decoration: none;
    padding: 16px 10px;
    height: 100%;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: rgba(77, 235, 15, 0.979);
    border-bottom: 4px solid #40A4C8;
    color: white;
  }
}
