.SideDrawer {
   position: fixed; /*means always be on page even if we scroll*/
   width: 280px;
    max-width: 70%;/*even on suyper narrow devices it does not go over the edges*/
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200; /*should have a number greater than the backdrop z-index*/
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out; /*important for opening and closing the side drawer*/
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

/* this will shift side drawer into the position defined in SideDrawer css */
.Open {
  transform: translateX(0);
}

/* this will shift side drawer to the left */
.Close {
  transform: translateX(-100%);
}


.Logo {
  height: 11%;
  margin-bottom: 32px;
}
