.App {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-image: url('./assets/images/burger-background.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url('./assets/images/burger-background.jpg') no-repeat center center fixed;
    font-size: 1.25em
}

@media (max-width: 480px) {
  .App {
    background-image: url('./assets/images/burger-background.jpg');
    background-repeat: no-repeat;
    background-size: contain ;
  }
}